mdb-breadcrumb {
    border-radius: 0px;
}

mdb-breadcrumb-item {
    font-size: 20px;
}

mat-grid-list {
    margin-top: 5%;
}

body {
    display: flex;
    align-items: center;
}

app-evaluation-card {
    width: 65%;
    vertical-align: center
;
}
