<mat-toolbar class="mat-elevation-z8">
  <span> PERTINENCE </span>
  <button mat-button  [matMenuTriggerFor]="productor"  routerLinkActive="active">
    Soy un productor
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #productor="matMenu">
    <button mat-menu-item routerLink="./productor/evaluation">Evaluaciones
    </button>
    <button mat-menu-item routerLink="./productor/order">Compras</button>
    <button mat-menu-item routerLink="./productor/recommender">Rec. de Perfumes</button>
  </mat-menu>

  <mat-menu #proveedores="matMenu">
    <button mat-menu-item>contratados</button>
    <button mat-menu-item>sin contrato</button>
  </mat-menu>

  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="cuenta">
    <img
      class="mat-card-avatar"
      [src]="url"
      alt="User Avatar"
    />
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #cuenta="matMenu" xPosition="before">
    <button mat-menu-item routerLink="../auth" [queryParams]="{step: 'productor'}">Cambiar Cuenta</button>
  </mat-menu>
</mat-toolbar>

<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
