<mat-toolbar>
  <span> PERTINENCE </span>
  <button mat-button routerLinkActive="active">
    Soy un productor
    <button mat-icon-button [matMenuTriggerFor]="productor">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </button>

  <mat-menu #productor="matMenu">
    <button mat-menu-item>
      Mis productos
    </button>
    <button mat-menu-item [matMenuTriggerFor]="proveedores">Proveedores</button>
    <button mat-menu-item>Mis pedidos</button>
    <button mat-menu-item>
      Rec. de Perfumes
    </button>
  </mat-menu>

  <mat-menu #proveedores="matMenu">
    <button mat-menu-item>contratados</button>
    <button mat-menu-item>sin contrato</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="proveedor" routerLinkActive="active">
    Soy un proveedor <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #proveedor="matMenu">
    <button mat-menu-item>Mis productos</button>
    <button mat-menu-item>Mis pedidos</button>
    <button mat-menu-item>Mis contratos</button>
  </mat-menu>

  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="cuenta">
    <img
      class="mat-card-avatar"
      src="https://material.angular.io/assets/img/examples/shiba1.jpg"
      alt="User Avatar"
    />
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #cuenta="matMenu" xPosition="before">
    <button mat-menu-item>cambiar cuenta</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
