<p>
  <mat-form-field appearance="fill" #pagos>
    <mat-label>Condiciones de pago</mat-label>
    <mat-select [(ngModel)]="pag">
      <mat-option *ngFor="let pago of condpago" [value]="pago.id">
        <div *ngIf="pago.tipo === 'AP'; then aplazado; else contado"></div>
        <ng-template #aplazado>
          aplazado ({{ pago.cuotas }} cuotas)
        </ng-template>
        <ng-template #contado>
          contado
        </ng-template>
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill" #envios>
    <mat-label>Pais de envio</mat-label>
    <mat-select [(ngModel)]="envi">
      <mat-option *ngFor="let pais of condenvio" [value]="pais.id">
        {{ pais.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>

<h1>Productos:</h1>
<section class="example-section">
  <span class="example-list-section">
    <mat-selection-list #list>
      <mat-list-option *ngFor="let ingrediente of presentaciones">
        cas number {{ ingrediente.id_ifra_ing }} {{ ingrediente.vol
        }}{{ ingrediente.unidades }} {{ ingrediente.precio }}$
      </mat-list-option>
    </mat-selection-list>
  </span>
</section>

<button mat-raised-button color="primary" (click)="createOrder(list)">
  Siguiente
</button>
