<div>
  <a href="/dashboard/productor/orders/select-provider">
    <button mat-raised-button color="primary" routerLink="/providers">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >shopping_cart</mat-icon
      >
      Hacer pedido
    </button>
  </a>
</div>

<table mat-table [dataSource]="orders" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="empresa">
    <th mat-header-cell *matHeaderCellDef>Empresa</th>
    <td mat-cell *matCellDef="let element">{{ element.id_emp_prov }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Estado</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.status === 'ped'; then pendiente; else pagado"></div>
      <ng-template #pendiente>
        pendiente
      </ng-template>
      <ng-template #pagado>
        pagado
      </ng-template>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let element">{{ element.pago_total }}$</td>
  </ng-container>

  <ng-container matColumnDef="pagar">
    <th mat-header-cell *matHeaderCellDef>Pagar</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.status === 'ped'; then pagar; else pagado"></div>
      <ng-template #pagar>
        <button mat-raised-button color="primary">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >payments</mat-icon
          >
          Pagar
        </button>
      </ng-template>
      <ng-template #pagado>
        <button mat-raised-button color="primary">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >home</mat-icon
          >
          Pagado
        </button>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
