<mat-toolbar>
  <span>PERTINENCE</span>
  <span>Soy un productor</span>
  <span>Soy un proveedor</span>
  <mat-grid-list cols="2">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
  </mat-grid-list>

  <span class="example-spacer"></span>
  <img
    class="mat-card-avatar"
    src="https://material.angular.io/assets/img/examples/shiba1.jpg"
    alt="User Avatar"
  />
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with arrow_drop_down icon"
  >
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
</mat-toolbar>
