<mat-toolbar class="mat-elevation-z8">
  <p>Estas entando a <b>Persistence</b>+ </p>
</mat-toolbar>
<div class="layout-body">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="typeFormGroup">
      <ng-template matStepLabel>¿Que tipo de empresa desea ser?
      </ng-template>
      <h2>Seleccione el tipo de empresa</h2>
      <app-auth-type (optionClicked)="navigateTo($event)"></app-auth-type>
      <form [formGroup]="typeFormGroup">
        <input type="text" required formControlName="dummyInput" hidden>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>¿Que empresa desea ser?</ng-template>
      <ng-container *ngIf="step == 'productor'">
        <app-auth-productors [input]="data | async"></app-auth-productors>
      </ng-container>
    </mat-step>
  </mat-horizontal-stepper>


  <ng-template #productorTemplate>
  </ng-template>

</div>
